Django==2.2.24
Pillow==2.9.0
django-braces==1.8.1
django-embed-video==1.0.0
python3-memcached==1.51
#django-paypal==0.2.5
#pytz
#WeasyPrint==0.24
#celery==3.1.18
#python-social-auth==0.2.12
#sorl-thumbnail==12.3
djangorestframework==3.5.1
#redis==2.10.3
