{% extends "base.html" %}

{% block title %}CV: {{ image.title }} face detection{% endblock %}

{% block content %}
    <h1>CV image face detection for: {{ image.title }} </h1>
    {% load thumbnail %}
    {% thumbnail image.image "300" as im %}
        <a href="{{ image.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Face Detection!">
    </form>
{% endblock %}
